<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta name="charset" content="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- twitter bootstrap CSS stylesheet - included to make things pretty, not needed or used by cornerstone -->
  <link th:href="@{examples/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{examples/cornerstone.min.css}" rel="stylesheet">
  <link th:href="@{examples/example.css}" rel="stylesheet">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col">
        <form id="form">
          <div class="form-group form-row">
            <label class="col-form-label col-sm-1" for="nifti-URL">URL</label>
            <div class="col-sm-7">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">nifti:</div>
                </div>
                <input class="form-control" type="text" id="nifti-URL" placeholder="Enter URL to NIFTI file or pick from list" list="sample-nifti-files">
              </div>
            </div>
            <div class="col-sm-3">
              <button class="btn btn-primary" type="button" id="download-and-view">Download and View</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <section id="image-and-data-info">
      <div id="nifti-image-container"
         oncontextmenu="return false"
         class='disable-selection noIbar'
         unselectable='on'
         onselectstart='return false;'
         onmousedown='return false;'>
        <div id="nifti-image"></div>
      </div>
    </section>
  </div>
</body>

<!-- include the cornerstone library -->
<script th:src="@{examples/cornerstone.js}"></script>
<script th:src="@{examples/cornerstoneMath.js}"></script>
<script th:src="@{examples/cornerstoneTools.js}"></script>

<!-- include the cornerstoneNIFTIImageLoader library -->
<script th:src="@{examples/cornerstoneNIFTIImageLoader.js}"></script>

<script>
  cornerstoneNIFTIImageLoader.external.cornerstone = cornerstone;
  const ImageId = cornerstoneNIFTIImageLoader.nifti.ImageId;
  let loaded = false;

  function loadAndViewImage(imageId) {
    const element = document.getElementById('nifti-image');
    const imageIdObject = ImageId.fromURL(imageId);

    try {
      const start = new Date().getTime();
      cornerstone.loadAndCacheImage(imageIdObject.url).then(function(image) {
        console.log(image);
        const numberOfSlices = cornerstone.metaData.get('multiFrameModule', imageIdObject.url).numberOfFrames;
        const stack = {
          currentImageIdIndex: imageIdObject.slice.index,
          imageIds: Array.from(Array(numberOfSlices), (_, i) => `nifti:${imageIdObject.filePath}#${imageIdObject.slice.dimension}-${i}`)
        };

        const viewport = cornerstone.getDefaultViewportForImage(element, image);
        cornerstone.displayImage(element, image, viewport);
        if(loaded === false) {
          cornerstoneTools.addStackStateManager(element, ['stack', 'wwwc', 'pan', 'zoom']);
          cornerstoneTools.addToolState(element, 'stack', stack);
          cornerstoneTools.mouseInput.enable(element);
          cornerstoneTools.mouseWheelInput.enable(element);
          cornerstoneTools.wwwc.activate(element, 1);
          cornerstoneTools.pan.activate(element, 2);
          cornerstoneTools.zoom.activate(element, 4);
          cornerstoneTools.stackScrollWheel.activate(element);
          cornerstoneTools.orientationMarkers.enable(element);
          loaded = true;
        }

        function getPixelRepresentation(value) {
          return value === '0000H' ? '(unsigned)' : '(signed)';
        }

        function getPlanarConfiguration(value) {
            return (typeof value === 'undefined' ? 'unspecified' : (value === 0 ? '(pixel)' : '(plane)'));
        }

        const metaData = (type) => cornerstone.metaData.get(type, imageIdObject.url);

        document.getElementById('samplesPerPixel').textContent = metaData('imagePixelModule').samplesPerPixel;
        document.getElementById('photometricInterpretation').textContent = metaData('imagePixelModule').photometricInterpretation;
        document.getElementById('numberOfFrames').textContent = metaData('multiFrameModule').numberOfFrames;
        document.getElementById('planarConfiguration').textContent = getPlanarConfiguration(metaData('imagePixelModule').planarConfiguration);
        document.getElementById('rows').textContent = metaData('imagePixelModule').rows;
        document.getElementById('columns').textContent = metaData('imagePixelModule').columns;
        document.getElementById('pixelAspectRatio').textContent = metaData('imagePixelModule').pixelAspectRatio;
        document.getElementById('bitsAllocated').textContent = metaData('imagePixelModule').bitsAllocated;
        document.getElementById('bitsStored').textContent = metaData('imagePixelModule').bitsStored;
        document.getElementById('highBit').textContent = metaData('imagePixelModule').highBit;
        document.getElementById('pixelRepresentation').textContent = getPixelRepresentation(metaData('imagePixelModule').pixelRepresentation);
        document.getElementById('windowCenter').textContent = metaData('voiLutModule').windowCenter;
        document.getElementById('windowWidth').textContent = metaData('voiLutModule').windowWidth;
        document.getElementById('rescaleIntercept').textContent = metaData('modalityLutModule').rescaleIntercept;
        document.getElementById('rescaleSlope').textContent = metaData('modalityLutModule').rescaleSlope;
        document.getElementById('minStoredPixelValue').textContent = metaData('imagePixelModule').smallestPixelValue;
        document.getElementById('maxStoredPixelValue').textContent = metaData('imagePixelModule').largestPixelValue;
        const end = new Date().getTime();
        const time = end - start;
        document.getElementById('totalTime').textContent = `${time}ms`;

      }, function(err) {
        alert(err);
        console.error(err);
      });
    } catch(err) {
      alert(err);
      console.error(err);
    }
  }

  function downloadAndView() {
    let url = document.getElementById('nifti-URL').value;

    loadAndViewImage(`nifti:${url}`);
  }

  cornerstone.events.addEventListener('cornerstoneimageloadprogress', function(event) {
    const eventData = event.detail;
    const loadProgress = document.getElementById('load-progress');
    loadProgress.textContent = `Image Load Progress: ${eventData.percentComplete}%`;
  });

  const element = document.getElementById('nifti-image');
  cornerstone.enable(element);

  document.getElementById('download-and-view').addEventListener('click', function(e) {
    downloadAndView();
  });

  const form = document.getElementById('form');
  form.addEventListener('submit', function(e) {
    downloadAndView();
    e.preventDefault();
  });

  document.getElementById('toggle-more-info').addEventListener('click', function() {
    const moreInfoEl = document.querySelector('#more-info');
    let justAppeared = !moreInfoEl.classList.toggle('collapse');
    if (justAppeared) {
      moreInfoEl.classList.add('highlighted');
      setTimeout(() => moreInfoEl.classList.remove('highlighted'), 100);
    }
  });

  document.addEventListener('DOMContentLoaded', () => {
    // check if there is a query parameter pointing to a file to be preloaded
    const fileToPreload = (getParameterByName('file') || '').trim();

    if (fileToPreload !== '') {
      document.getElementById('nifti-URL').value = fileToPreload;
      downloadAndView();
    }
  });

  function getParameterByName (name) {
    const url = window.location.href;
    name = name.replace(/[\[\]]/g, '\\$&');
    const regex = new RegExp(`[?&]${name}(=([^&#]*)|&|#|$)`);
    const results = regex.exec(url);
    if (!results) {
      return null;
    }
    if (!results[2]) {
      return '';
    }

    return decodeURIComponent(results[2].replace(/\+/g, ' '));
  }
</script>
</html>
