<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>导入3D图片</title>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- Favicon -->
    <link rel="shortcut icon" th:href="@{images/favicon.ico}"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
    <!-- Typography CSS -->
    <link rel="stylesheet" th:href="@{css/typography.css}">
    <!-- Style CSS -->
    <link rel="stylesheet" th:href="@{css/style.css}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" th:href="@{css/responsive.css}">
</head>
<body>
<!-- loader Start -->
<div id="loading">
    <div id="loading-center">
    </div>
</div>
<!-- loader END -->
<!-- Wrapper Start -->
<div class="wrapper">
    <!-- Sidebar  -->
    <div th:replace="~{commons/commons::sidebar(active1='yiliao',active2='importPicture.html')}"></div>
    <!-- TOP Nav Bar -->
    <div th:replace="~{commons/commons::topnavbar}"></div>
    <!-- TOP Nav Bar END -->
    <!-- Responsive Breadcrumb End-->
    <!-- Page Content  -->
    <div id="content-page" class="content-page">
        <div class="container-fluid" id="file">
            <div class="row">
                <div class="col-sm-12 col-lg-12">
                    <div class="iq-card">
                        <div class="iq-card-header d-flex justify-content-between">
                            <div class="iq-header-title">
                                <h4 class="card-title">导入医学图片</h4>
                            </div>
                        </div>
                        <div class="iq-card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <ul id="top-tabbar-vertical" class="p-0">

                                        <li class="active" id="official">
                                            <div class="bootstrap-modal">
                                                <div class="modal fade col-lg-12" id="basicModal">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title">添加图像</h5>
                                                                <button type="button" class="close"
                                                                        data-dismiss="modal"><span>&times;</span>
                                                                </button>
                                                            </div>

                                                            <div class="modal-body">
                                                                <section>
                                                                    <div class="iq-card">
                                                                    <div class="iq-card-body">
                                                                        <form class="was-validated">
                                                                            <div class="form-row">
                                                                                <div class="col-md-6 mb-3">
                                                                                    <label for="validationDefault01">患者名称</label>
                                                                                    <input type="text" class="form-control" id="validationDefault01"  v-model="upload.name" required>
                                                                                </div>
                                                                                <div class="col-md-6 mb-3">
                                                                                    <label for="validationDefault02">检查日期</label>
                                                                                    <input type="text" class="form-control" id="validationDefault02" v-model="upload.date" required>
                                                                                </div>
                                                                                <div class="col-md-12 mb-3">
                                                                                    <label for="validationDefault03">描述</label>
                                                                                    <textarea type="text" class="form-control" id="validationDefault03" v-model="upload.describe" required></textarea>
                                                                                </div>
                                                                            </div>
                                                                            <div class="custom-file">
                                                                                <input type="file" class="custom-file-input" id="validatedCustomFile" @change="onFileChange;handleFileChange" required>
                                                                                <label class="custom-file-label" for="validatedCustomFile">选择文件</label>
                                                                                <div class="invalid-feedback">请选择nii.gz格式的文件</div>
                                                                            </div>
                                                                        </form>
                                                                    </div>
                                                                    </div>
                                                                </section>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary"
                                                                        data-dismiss="modal">关闭
                                                                </button>
                                                                <button type="button" class="btn btn-primary"
                                                                        @click=" addViewResult">保存
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <a href="#" @click="chooseFile" data-toggle="modal" data-target="#basicModal">
                                                <i class="ri-camera-fill text-success"></i><span>导入图片</span>
                                            </a>
<!--                                            <input type="file" ref="fileInput" style="display: none"-->
<!--                                                   @change="handleFileChange"/>-->

                                        </li>
                                        <li class="active" id="payment">
                                            <a href="#" @click="executeCommand" :disabled="executing">
                                                <i class="ri-check-fill text-warning"></i><span>开始推理</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="col-md-8">

                                    <div class="iq-card">
                                        <div class="iq-card-header d-flex justify-content-between">
                                            <div class="iq-header-title">
                                                <h4 class="card-title">处理信息</h4>
                                            </div>
                                        </div>
                                        <div class="iq-card-body">
                                            <ul class="iq-timeline">
                                                <li>
                                                    <div class="timeline-dots"></div>
                                                    <h4 class="float-left mb-1">是否开始处理</h4>
                                                    <div class="d-inline-block w-100">
                                                        <p>
                                                        <pre id="begin"><h5>{{ begin}}</h5></pre>
                                                        </p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="timeline-dots border-danger"></div>
                                                    <h4 class="float-left mb-1">处理是否完成</h4>
                                                    <div class="d-inline-block w-100">
                                                        <p>
                                                        <pre id="end"><h5>{{end}}</h5></pre>
                                                        </p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="timeline-dots border-success"></div>
                                                    <h4 class="float-left mb-1">处理信息</h4>
                                                    <div class="d-inline-block w-100">
                                                        <p>
                                                        <pre id="output"><h5>{{ output }}</h5></pre>
                                                        </p>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- Wrapper END -->
<!-- Footer -->
<div th:replace="~{commons/commons::footer}"></div>
<!-- Footer END -->
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->

<div th:replace="~{commons/commons::js}"></div>

<script>
    new Vue({
        el: "#file",
        mounted() {
        },
        data() {
            return {
                upload:{
                    name:'',
                    date:'',
                    describe:'',
                    fileName:''

                },
                selectedFile: null,
                showFeedback: false,
                feedback: '',
                output: '尚未开始',
                begin: '尚未开始',
                end: '尚未开始',
                executing: false
            }
        },
        methods: {
            onFileChange(event) {
                const fileInput = event.target;
                if (fileInput.files.length > 0) {
                    // 获取文件名，并赋值给upload对象的fileName属性
                    this.upload.fileName = fileInput.files[0].name;
                    console.log(this.upload.fileName);
                }
            },
            chooseFile() {
                this.$refs.fileInput.click();
            },
            handleFileChange(event) {
                const file = event.target.files[0];
                this.uploadFile(file);
            },
            uploadFile(file) {
                const formData = new FormData();
                formData.append('file', file);

                axios.post('/api/files/upload', formData)
                    .then(response => {
                        alert('文件上传成功，新文件名为: ' + response.data);
                    })
                    .catch(error => {
                        console.error('文件上传失败', error);
                    });
            },
            executeCommand() {
                this.executing = true;
                this.output = '';
                this.begin = '开始处理';
                this.end = '正在处理';

                axios.get('/api/execute')
                    .then(response => {
                        this.output = response.data;
                        this.end = '处理完成';
                        console.log(response.data);
                        this.executing = false;
                    })
                    .catch(error => {
                        console.error(error);
                        this.output = 'Error: ' + error.response.data;
                        this.executing = false;
                    });
            },
            addViewResult() {
                axios({
                    method: "post",
                    url: "http://localhost:8081/api/add",
                    data: this.upload
                }).then(resp => {
                    console.log(resp.data);
                    if (resp.data === "success" ){
                        alert("添加成功");
                    } else {
                        alert("添加失败");
                    }
                })
            },
        }
    })
</script>
</body>
</html>