<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>导入3D图片</title>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- Favicon -->
    <link rel="shortcut icon" th:href="@{images/favicon.ico}"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
    <!-- Typography CSS -->
    <link rel="stylesheet" th:href="@{css/typography.css}">
    <!-- Style CSS -->
    <link rel="stylesheet" th:href="@{css/style.css}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" th:href="@{css/responsive.css}">
</head>
<body>
<!-- loader Start -->
<div id="loading">
    <div id="loading-center">
    </div>
</div>
<!-- loader END -->
<!-- Wrapper Start -->
<div class="wrapper">
    <!-- Sidebar  -->
    <div th:replace="~{commons/commons::sidebar}"></div>
    <!-- TOP Nav Bar -->
    <div th:replace="~{commons/commons::topnavbar}"></div>
    <!-- TOP Nav Bar END -->
    <!-- Responsive Breadcrumb End-->
    <!-- Page Content  -->
    <div id="content-page" class="content-page">
        <div class="container-fluid" id="file">
            <div class="row">
                <div class="col-sm-12 col-lg-12">
                    <div class="iq-card">
                        <div class="iq-card-header d-flex justify-content-between">
                            <div class="iq-header-title">
                                <h4 class="card-title">导入医学图片</h4>
                            </div>
                        </div>
                        <div class="iq-card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <ul id="top-tabbar-vertical" class="p-0">

                                        <li id="official">
                                            <a href="#" @click="chooseFile">
                                                <i class="ri-camera-fill text-success"></i><span>导入图片</span>
                                            </a>
                                            <input type="file" ref="fileInput" style="display: none"
                                                   @change="handleFileChange"/>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-9">
                                    <button type="button" class="btn btn-primary btn-sm mr-2"
                                            @click="executeCommand" :disabled="executing">执行命令
                                    </button>
                                    <h5>Command Output:</h5>
                                    <pre id="output">{{ output }}</pre>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- Wrapper END -->
<!-- Footer -->
<div th:replace="~{commons/commons::footer}"></div>
<!-- Footer END -->
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->

<div th:replace="~{commons/commons::js}"></div>

<script>
    new Vue({
        el: "#file",
        mounted() {
        },
        data() {
            return {
                selectedFile: null,
                showFeedback: false,
                feedback: '',
                output: '',
                executing: false
            }
        },
        methods: {
            chooseFile() {
                this.$refs.fileInput.click();
            },
            handleFileChange(event) {
                const file = event.target.files[0];
                this.uploadFile(file);
            },
            uploadFile(file) {
                const formData = new FormData();
                formData.append('file', file);

                axios.post('/api/files/upload', formData)
                    .then(response => {
                        alert('文件上传成功，新文件名为: ' + response.data);
                    })
                    .catch(error => {
                        console.error('文件上传失败', error);
                    });
            },
            executeCommand() {
                this.executing = true;
                this.output = '';

                axios.get('/api/execute')
                    .then(response => {
                        this.output = response.data;
                        console.log(response.data);
                        this.executing = false;
                    })
                    .catch(error => {
                        console.error(error);
                        this.output = 'Error: ' + error.response.data;
                        this.executing = false;
                    });
            }
        }
    })
</script>
</body>
</html>