<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>导入3D图片</title>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- Favicon -->
    <link rel="shortcut icon" th:href="@{images/favicon.ico}"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
    <!-- Typography CSS -->
    <link rel="stylesheet" th:href="@{css/typography.css}">
    <!-- Style CSS -->
    <link rel="stylesheet" th:href="@{css/style.css}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" th:href="@{css/responsive.css}">
</head>
<body>
<!-- loader Start -->
<div id="loading">
    <div id="loading-center">
    </div>
</div>
<!-- loader END -->
<!-- Wrapper Start -->
<div class="wrapper">
    <!-- Sidebar  -->
    <div th:replace="~{commons/commons::sidebar}"></div>
    <!-- TOP Nav Bar -->
    <div th:replace="~{commons/commons::topnavbar}"></div>
    <!-- TOP Nav Bar END -->
    <!-- Responsive Breadcrumb End-->
    <!-- Page Content  -->
    <div id="content-page" class="content-page">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 col-lg-12">
                    <div class="iq-card">
                        <div class="iq-card-header d-flex justify-content-between">
                            <div class="iq-header-title">
                                <h4 class="card-title">导入医学图片</h4>
                            </div>
                        </div>
                        <div class="iq-card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <ul id="top-tabbar-vertical" class="p-0">
<!--                                        <li class="" id="payment">
                                            <a href="javascript:void();">
                                                <i class="ri-check-fill text-warning"></i><span>导入图片</span>
                                            </a>
                                        </li>-->
                                        <li id="official">
                                            <a href="javascript:void();">
                                                <i class="ri-camera-fill text-success"></i><span>导入图片</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="col-md-9">
                                    <ul class="iq-timeline">
                                        <li>
                                            <div class="timeline-dots"></div>
                                            <h6 class="float-left mb-1">开始导入</h6>
                                            <small class="float-right mt-1">2023年6月16日16：00：35</small>
                                            <div class="d-inline-block w-100">
                                                <p>开始导入图片并准备进行处理</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="timeline-dots border-success"></div>
                                            <h6 class="float-left mb-1">处理图片</h6>
                                            <small class="float-right mt-1">2023年6月16日16：01：30</small>
                                            <div class="d-inline-block w-100">
                                                <p>正在对图片信息进行处理</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="timeline-dots border-danger"></div>
                                            <h6 class="float-left mb-1">处理完成</h6>
                                            <small class="float-right mt-1">2023年6月16日16：09：30</small>
                                            <div class="d-inline-block w-100">
                                                <p>图片信息已经处理完成，点击查看结果</p>
                                            </div>
                                        </li>
                                       <!-- <li>
                                            <div class="timeline-dots border-primary"></div>
                                            <h6 class="float-left mb-1">Client Meeting</h6>
                                            <small class="float-right mt-1">19 November 2019</small>
                                            <div class="d-inline-block w-100">
                                                <p>Bonbon macaroon jelly beans gummi bears jelly lollipop apple</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="timeline-dots border-info"></div>
                                            <h6 class="float-left mb-1">Client Meeting</h6>
                                            <small class="float-right mt-1">19 November 2019</small>
                                            <div class="d-inline-block w-100">
                                                <p>Bonbon macaroon jelly beans gummi bears jelly lollipop apple</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="timeline-dots border-info"></div>
                                            <h6 class="float-left mb-1">Client Meeting</h6>
                                            <small class="float-right mt-1">19 November 2019</small>
                                            <div class="d-inline-block w-100">
                                                <p>Bonbon macaroon jelly beans gummi bears jelly lollipop apple</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="timeline-dots border-warning"></div>
                                            <h6 class="float-left mb-1">Client Meeting</h6>
                                            <small class="float-right mt-1">19 November 2019</small>
                                            <div class="d-inline-block w-100">
                                                <p>Bonbon macaroon jelly beans gummi bears jelly lollipop apple</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="timeline-dots border-info"></div>
                                            <h6 class="float-left mb-1">Client Meeting</h6>
                                            <small class="float-right mt-1">19 November 2019</small>
                                            <div class="d-inline-block w-100">
                                                <p>Bonbon macaroon jelly beans gummi bears jelly lollipop apple</p>
                                            </div>
                                        </li>-->
                                    </ul>
                                </div>
                            </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Wrapper END -->
<!-- Footer -->
<div th:replace="~{commons/commons::footer}"></div>
<!-- Footer END -->
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->

<div th:replace="~{commons/commons::js}"></div>
</body>
</html>